.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar {
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%;
  /* position: fixed; */
  left: 0;
  overflow: auto;
  margin: 5px;
  width: 95%;
  border-radius: 10px
}

.home-page-list {
  text-align: center;
  display: inline-block;
}

.card {
  width: 18rem;
  text-align: center;
  outline: solid
}

.form-control-sm{
  
  width: 300px;
  height: 100px;
}

.homepage-title {
  text-align: center;
  display: block;
}

.post {
  text-align: center;
  display: inline-block;
  outline: solid;
}

.home {
  text-align: center;
}

.card-link {
  color: black;
}

.card-link:hover {
  color: blue
}

button {
  border-radius: 10px
}

.other-button:focus {
  outline: none;
}

.x-button:focus {
  outline: none;
}


.x-button {
  display: inline-block;
  position: absolute;
  right:0;
  margin-right: 10px;
}

.list-group-item {
  text-align: left;
  margin-right: 50px;
}

.other-button {
  display: inline-block;
  width: 100px; 
  text-align: center;
}

.fa-thumbs-down {
  color: red;
}

.fa-thumbs-up {
  color: green;
}

.fa-thumbs-up:hover {
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
}

.fa-thumbs-down:hover {
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
}

.iconButton {
  border: none;
  outline: none;
}

.iconButton:focus {
  outline: none;
}